<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document edit</title>
  <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="../style.css">
</head>
<body>
  <div class="card col-lg-6 mx-auto m-5">
    <div class="card-body">
      <form action="/renew/<%= @content.id %>" method="post">
        <p>名前：<input type="text" name="user_name" value="<%= @content.name %>" class="form-control"></p>
        <p>本文：<input type="text" name="body" value="<%= @content.body %>" class="form-control"></p>
        <input type="submit" value="編集完了" class="btn btn-dark float-right">
      </form>
    </div>
  </div>
</body>
</html>