<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>account_book</title>
</head>

<body>
  <div>
    <form action="/create" method="post">
      <div>
        <label for="title">商品名</label>
        <input type="text" name="title" id="title">
      </div>
      <div>
        <label for="price">金額</label>
        <input type="text" name="price" id="price">
      </div>
      <input type="submit" value="追加">   
    </form>
  </div>
</body>
</html>
